.note-field {
  display: flex;
  margin: 40px 0 0 120px;
  width: 170px;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

textarea {
  background-color: #f2f2f2;
  font-family: "Inter", sans-serif;
  border: 1px solid #ccc;
  padding: 20px 10px 10px 20px;
  width: 240px;
}
