:root {
  --background-color: #fff; /* light mode background color */
  --text-color: #333; /* light mode text color */
}

.header {
  width: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center;
}

.header[data-mode="dark"] {
  --background-color: #1a1b1e; /* dark mode background color */
  --text-color: #fff; /* dark mode text color */
}

.header-menu {
  margin-left: auto;
}

.header-menu .icon {
  display: flex;
  align-items: center;
  border: 1.2px solid #edf0f2;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
}
