:root {
  --background-color: #fff; /* light mode background color */
  --text-color: #333; /* light mode text color */
}
.tools-menu {
  width: 70px;
  height: 94vh;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 60px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

.tools-menu[data-mode="dark"] {
  --background-color: #1a1b1e; /* dark mode background color */
  --text-color: #fff; /* dark mode text color */
}

.icon-box {
  margin-top: 15px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-box p {
  font-size: 10px;
  margin-top: 0px;
}

div hr {
  color: black;
  width: 40px;
}

.trash {
  margin-top: auto;
  margin-bottom: 15px;
}
