:root {
  --background-color: #ebedee; /* light mode background color */
  --text-color: #333; /* light mode text color */
  --border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.tools-menu {
  width: 70px;
  height: 94vh;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  border-right: var(--border-right);
}

.tools-menu[data-mode="dark"] {
  --background-color: #1a1b1e; /* dark mode background color */
  --text-color: #fff; /* dark mode text color */
  --border-right: 2px solid #141517;
}

.icon-box {
  margin-top: 10px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-box .icon {
  display: flex;
  align-items: center;
  border: 1.2px solid #edf0f2;
  border-radius: 5px;
  padding: 3.5px;
  font-size: 1.5rem;
}
.more {
  background-color: #dbddde;
  padding: 0 7px;
  display: flex;
  border-radius: 5px;
}

.others .icon {
  background-color: #dbddde;
}

.icon-box p {
  font-size: 10px;
  margin: 5px 0px;
}

div hr {
  color: black;
  width: 40px;
}

.trash {
  margin-top: auto;
  margin-bottom: 15px;
}
