.tools-menu {
  width: 70px;
  height: 94vh;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.icon-box {
  margin-top: 10px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-box .icon {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 3.5px;
  font-size: 1.5rem;
}

.icon-box .icon:hover,
.more:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transform: translateX(2px);
}
.more {
  padding: 0 7px;
  display: flex;
  border-radius: 5px;
}

.others .icon {
  background-color: #dbddde;
}

.icon-box p {
  font-size: 10px;
  margin: 5px 0px;
}

div hr {
  color: black;
  width: 40px;
}

.trash {
  margin-top: auto;
  margin-bottom: 15px;
}

.dark {
  background-color: #1a1b1e;
  color: #fff;
  border: 1px solid #373a40;
}

.light {
  background-color: #fff;
  color: #333;
  border: 1.2px solid #edf0f2;
}
